USE [master]
GO
/****** Объект:  Database [LaserTagArenaDB]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE DATABASE [LaserTagArenaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaserTagArenaDB', FILENAME = N'C:\Users\Shura\LaserTagArenaDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaserTagArenaDB_log', FILENAME = N'C:\Users\Shura\LaserTagArenaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaserTagArenaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaserTagArenaDB]
GO
/****** Объект:  Table [dbo].[CartItems]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Categories]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IconPath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ContactRequests]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](11) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsClosed] [bit] NULL,
	[ClosedByUserID] [int] NULL,
	[ClosedDate] [datetime2](7) NULL,
	[ResponseComment] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Equipment]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UnitID] [int] NOT NULL,
	[OldPrice] [decimal](10, 2) NULL,
	[DiscountPercent] [int] NULL,
	[CurrentPrice] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[IsAvailable] [bit] NULL,
	[IsVisible] [bit] NULL,
	[ImagePath] [nvarchar](255) NULL,
	[Tags] [nvarchar](255) NULL,
	[SupplierID] [int] NULL,
	[ManufacturerID] [int] NULL,
	[CategoryID] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Comment] [nvarchar](255) NULL,
	[Popularity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Favorites]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[AddedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Feedbacks]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[Rating] [tinyint] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Comment] [nvarchar](1000) NULL,
	[Pros] [nvarchar](500) NULL,
	[Cons] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByUserID] [int] NULL,
	[ApprovedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Manufacturers]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Website] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[News]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
	[PublishedDate] [datetime2](7) NULL,
	[IsArchived] [bit] NULL,
	[AuthorUserID] [int] NOT NULL,
	[ViewsCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Notifications]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderItems]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PricePerUnit] [decimal](10, 2) NOT NULL,
	[DiscountPercent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [varchar](20) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NULL,
	[GameDate] [date] NULL,
	[GameTime] [time](7) NULL,
	[ParticipantsCount] [int] NULL,
	[StatusID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[DeliveryMethod] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[Comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderStatuses]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PriceHistory]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[OldPrice] [decimal](10, 2) NOT NULL,
	[NewPrice] [decimal](10, 2) NOT NULL,
	[ChangeDate] [datetime2](7) NULL,
	[ChangedByUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Promotions]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[DiscountPercent] [int] NULL,
	[PromoCode] [varchar](50) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ShipmentItems]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentItems](
	[ShipmentItemID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PricePerUnit] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Shipments]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentNumber] [varchar](20) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ShipmentDate] [date] NOT NULL,
	[ExpectedDeliveryDate] [date] NULL,
	[ActualDeliveryDate] [date] NULL,
	[StatusID] [int] NOT NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Comment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ShipmentStatuses]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Suppliers]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [varchar](11) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Units]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[ShortName] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Phone] [varchar](11) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[RegistrationDate] [datetime2](7) NULL,
	[Status] [bit] NULL,
	[Discount] [int] NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [IconPath]) VALUES (1, N'Штурмовое', N'Автоматы и штурмовые винтовки для активного боя', NULL)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [IconPath]) VALUES (2, N'Снайперское', N'Снайперские винтовки с увеличенной дальностью', NULL)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [IconPath]) VALUES (3, N'Пистолеты', N'Компактное оружие для ближнего боя', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactRequests] ON 

INSERT [dbo].[ContactRequests] ([RequestID], [UserID], [Name], [Email], [Phone], [Subject], [Message], [CreatedAt], [IsClosed], [ClosedByUserID], [ClosedDate], [ResponseComment]) VALUES (1, 3, N'Елена Сидорова', N'client1@mail.ru', N'79003456789', N'Вопрос по заказу', N'Здравствуйте! Когда придет мой заказ ORD-2024-001?', CAST(N'2026-04-09T15:34:07.5400000' AS DateTime2), 0, NULL, NULL, NULL)
INSERT [dbo].[ContactRequests] ([RequestID], [UserID], [Name], [Email], [Phone], [Subject], [Message], [CreatedAt], [IsClosed], [ClosedByUserID], [ClosedDate], [ResponseComment]) VALUES (2, 4, N'Дмитрий Козлов', N'client2@mail.ru', N'79004567890', N'Предложение сотрудничества', N'Добрый день! Хотим провести корпоратив на 50 человек. Возможно ли это?', CAST(N'2026-04-09T15:34:07.5400000' AS DateTime2), 0, NULL, NULL, NULL)
INSERT [dbo].[ContactRequests] ([RequestID], [UserID], [Name], [Email], [Phone], [Subject], [Message], [CreatedAt], [IsClosed], [ClosedByUserID], [ClosedDate], [ResponseComment]) VALUES (3, NULL, N'Алексей Новиков', N'alex@yandex.ru', N'79011234567', N'Жалоба на товар', N'Купил автомат, не работает датчик. Что делать?', CAST(N'2026-04-09T15:34:07.5400000' AS DateTime2), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([EquipmentID], [SKU], [Name], [Description], [UnitID], [OldPrice], [DiscountPercent], [CurrentPrice], [StockQuantity], [IsAvailable], [IsVisible], [ImagePath], [Tags], [SupplierID], [ManufacturerID], [CategoryID], [CreatedAt], [UpdatedAt], [Comment], [Popularity]) VALUES (3, N'G36-LT-003', N'Штурмовая винтовка G36', N'Немецкое качество. Облегченный корпус, высокая точность', 1, NULL, 0, CAST(38900.00 AS Decimal(10, 2)), 10, 1, 1, N'no-image.png', N'штурмовое,немецкое', 3, 4, 1, CAST(N'2026-04-09T15:34:07.5000000' AS DateTime2), NULL, NULL, 85)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteID], [UserID], [EquipmentID], [AddedDate]) VALUES (1, 3, 1, CAST(N'2026-04-09T15:34:07.5233333' AS DateTime2))
INSERT [dbo].[Favorites] ([FavoriteID], [UserID], [EquipmentID], [AddedDate]) VALUES (2, 3, 7, CAST(N'2026-04-09T15:34:07.5233333' AS DateTime2))
INSERT [dbo].[Favorites] ([FavoriteID], [UserID], [EquipmentID], [AddedDate]) VALUES (3, 3, 14, CAST(N'2026-04-09T15:34:07.5233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [EquipmentID], [OrderID], [Rating], [Title], [Comment], [Pros], [Cons], [CreatedAt], [IsApproved], [ApprovedByUserID], [ApprovedDate]) VALUES (1, 3, 14, 1, 5, N'Отличный комплект для начинающих!', N'Всё работает идеально. Дети в восторге!', N'Цена, качество, комплектация', N'Нет', CAST(N'2026-04-09T15:34:07.5300000' AS DateTime2), 1, NULL, CAST(N'2026-04-09T15:34:07.5300000' AS DateTime2))
INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [EquipmentID], [OrderID], [Rating], [Title], [Comment], [Pros], [Cons], [CreatedAt], [IsApproved], [ApprovedByUserID], [ApprovedDate]) VALUES (2, 4, 7, 2, 5, N'Glock - огонь!', N'Очень реалистичный, удобно лежит в руке', N'Дизайн, точность', N'Хотелось бы подешевле', CAST(N'2026-04-09T15:34:07.5300000' AS DateTime2), 1, NULL, CAST(N'2026-04-09T15:34:07.5300000' AS DateTime2))
INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [EquipmentID], [OrderID], [Rating], [Title], [Comment], [Pros], [Cons], [CreatedAt], [IsApproved], [ApprovedByUserID], [ApprovedDate]) VALUES (3, 5, 1, 4, 4, N'Хороший автомат', N'Работает стабильно, но аккумулятор хотелось бы помощнее', N'Надежность, дальность', N'Вес батареи', CAST(N'2026-04-09T15:34:07.5300000' AS DateTime2), 1, NULL, CAST(N'2026-04-09T15:34:07.5300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([ManufacturerID], [Name], [Country], [Website]) VALUES (1, N'LaserWar', N'Россия', N'www.laserwar.ru')
INSERT [dbo].[Manufacturers] ([ManufacturerID], [Name], [Country], [Website]) VALUES (2, N'LASERMAX', N'США', N'www.lasermax.com')
INSERT [dbo].[Manufacturers] ([ManufacturerID], [Name], [Country], [Website]) VALUES (3, N'BattleTag', N'Франция', N'www.battletag.com')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [ShortDescription], [Content], [ImagePath], [PublishedDate], [IsArchived], [AuthorUserID], [ViewsCount]) VALUES (1, N'Открытие нового полигона!', N'Приглашаем всех на открытие нового лазертаг-полигона 25 декабря', N'Дорогие друзья! Мы рады сообщить об открытии нового полигона площадью 1000 кв.м. Вас ждут новые укрытия, спецэффекты и полное погружение в игру!', N'news-polygon.jpg', CAST(N'2026-04-09T15:34:07.5333333' AS DateTime2), 0, 2, 246)
INSERT [dbo].[News] ([NewsID], [Title], [ShortDescription], [Content], [ImagePath], [PublishedDate], [IsArchived], [AuthorUserID], [ViewsCount]) VALUES (2, N'Новогодние скидки 20% на всё!', N'Только до 15 января скидка 20% на весь ассортимент', N'Успейте купить оборудование для лазертага со скидкой 20%! Акция действует на все товары, включая новинки.', N'news-sale.jpg', CAST(N'2026-04-09T15:34:07.5333333' AS DateTime2), 0, 6, 520)
INSERT [dbo].[News] ([NewsID], [Title], [ShortDescription], [Content], [ImagePath], [PublishedDate], [IsArchived], [AuthorUserID], [ViewsCount]) VALUES (3, N'Поступление новых моделей', N'В продаже появились новые штурмовые винтовки G36', N'Встречайте новинку - штурмовую винтовку G36 от немецкого производителя. Отличное качество и доступная цена!', N'news-g36.jpg', CAST(N'2026-04-09T15:34:07.5333333' AS DateTime2), 0, 2, 180)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [Type], [IsRead], [CreatedAt]) VALUES (1, 1009, N'Товар «Автомат Сайга-12» добавлен в корзину (×1)', N'CartAdd', 1, CAST(N'2026-06-08T00:00:28.650' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [Type], [IsRead], [CreatedAt]) VALUES (2, 1009, N'Создан заказ ORD-20260608-3848', N'OrderCreate', 1, CAST(N'2026-06-08T00:00:51.057' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [Type], [IsRead], [CreatedAt]) VALUES (3, 1011, N'Создан заказ ORD-20260608-5354', N'OrderCreate', 1, CAST(N'2026-06-08T00:11:35.733' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [EquipmentID], [Quantity], [PricePerUnit], [DiscountPercent]) VALUES (1, 1, 14, 1, CAST(46750.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [EquipmentID], [Quantity], [PricePerUnit], [DiscountPercent]) VALUES (2, 2, 7, 1, CAST(18000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [EquipmentID], [Quantity], [PricePerUnit], [DiscountPercent]) VALUES (3, 3, 15, 1, CAST(63750.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderNumber], [UserID], [OrderDate], [GameDate], [GameTime], [ParticipantsCount], [StatusID], [TotalAmount], [DiscountAmount], [DeliveryMethod], [PaymentMethod], [CompletionDate], [Comment]) VALUES (1, N'ORD-2024-001', 3, CAST(N'2026-04-04T15:34:07.5133333' AS DateTime2), CAST(N'2026-04-19' AS Date), CAST(N'15:00:00' AS Time), 8, 2, CAST(46750.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL, N'Карта онлайн', NULL, N'Корпоративное мероприятие')
INSERT [dbo].[Orders] ([OrderID], [OrderNumber], [UserID], [OrderDate], [GameDate], [GameTime], [ParticipantsCount], [StatusID], [TotalAmount], [DiscountAmount], [DeliveryMethod], [PaymentMethod], [CompletionDate], [Comment]) VALUES (2, N'ORD-2024-002', 4, CAST(N'2026-04-06T15:34:07.5133333' AS DateTime2), CAST(N'2026-04-16' AS Date), CAST(N'18:30:00' AS Time), 4, 3, CAST(18000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL, N'Наличные при получении', NULL, N'День рождения')
INSERT [dbo].[Orders] ([OrderID], [OrderNumber], [UserID], [OrderDate], [GameDate], [GameTime], [ParticipantsCount], [StatusID], [TotalAmount], [DiscountAmount], [DeliveryMethod], [PaymentMethod], [CompletionDate], [Comment]) VALUES (3, N'ORD-2024-003', 5, CAST(N'2026-04-08T15:34:07.5133333' AS DateTime2), CAST(N'2026-04-12' AS Date), CAST(N'12:00:00' AS Time), 6, 1, CAST(63750.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL, N'Карта онлайн', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName], [Description]) VALUES (1, N'Новый', N'Заказ только что создан')
INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName], [Description]) VALUES (2, N'В обработке', N'Заказ обрабатывается менеджером')
INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName], [Description]) VALUES (3, N'Оплачен', N'Оплата получена')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PriceHistory] ON 

INSERT [dbo].[PriceHistory] ([HistoryID], [EquipmentID], [OldPrice], [NewPrice], [ChangeDate], [ChangedByUserID]) VALUES (1, 1, CAST(48000.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)), CAST(N'2026-03-10T15:34:07.5033333' AS DateTime2), NULL)
INSERT [dbo].[PriceHistory] ([HistoryID], [EquipmentID], [OldPrice], [NewPrice], [ChangeDate], [ChangedByUserID]) VALUES (2, 1, CAST(45000.00 AS Decimal(10, 2)), CAST(40500.00 AS Decimal(10, 2)), CAST(N'2026-03-25T15:34:07.5033333' AS DateTime2), NULL)
INSERT [dbo].[PriceHistory] ([HistoryID], [EquipmentID], [OldPrice], [NewPrice], [ChangeDate], [ChangedByUserID]) VALUES (3, 2, CAST(45000.00 AS Decimal(10, 2)), CAST(42000.00 AS Decimal(10, 2)), CAST(N'2026-02-23T15:34:07.5033333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PriceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [Title], [Description], [ShortDescription], [DiscountPercent], [PromoCode], [StartDate], [EndDate], [IsActive], [ImagePath]) VALUES (1, N'Скидка 15% на первый заказ', N'Скидка 15% предоставляется новым клиентам на первый заказ при регистрации', N'Новичкам скидка 15%', 15, N'NEW15', CAST(N'2026-03-30' AS Date), CAST(N'2026-04-29' AS Date), 1, NULL)
INSERT [dbo].[Promotions] ([PromotionID], [Title], [Description], [ShortDescription], [DiscountPercent], [PromoCode], [StartDate], [EndDate], [IsActive], [ImagePath]) VALUES (2, N'Черная пятница', N'Грандиозные скидки до 50% на всё оборудование. Только 3 дня!', N'Скидки до 50%', 50, N'BLACK50', CAST(N'2024-11-29' AS Date), CAST(N'2024-12-01' AS Date), 0, NULL)
INSERT [dbo].[Promotions] ([PromotionID], [Title], [Description], [ShortDescription], [DiscountPercent], [PromoCode], [StartDate], [EndDate], [IsActive], [ImagePath]) VALUES (3, N'Комплекты со скидкой', N'При покупке комплекта оборудования скидка 10% дополнительно', N'Скидка на комплекты', 10, N'SET10', CAST(N'2026-04-04' AS Date), CAST(N'2026-05-04' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (4, N'Администратор сайта')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentItems] ON 

INSERT [dbo].[ShipmentItems] ([ShipmentItemID], [ShipmentID], [EquipmentID], [Quantity], [PricePerUnit]) VALUES (1, 1, 1, 10, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[ShipmentItems] ([ShipmentItemID], [ShipmentID], [EquipmentID], [Quantity], [PricePerUnit]) VALUES (2, 1, 14, 5, CAST(38000.00 AS Decimal(10, 2)))
INSERT [dbo].[ShipmentItems] ([ShipmentItemID], [ShipmentID], [EquipmentID], [Quantity], [PricePerUnit]) VALUES (3, 1, 11, 15, CAST(5000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[ShipmentItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentID], [ShipmentNumber], [SupplierID], [ShipmentDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [StatusID], [TotalCost], [CreatedByUserID], [CreatedAt], [Comment]) VALUES (1, N'SHP-2024-001', 1, CAST(N'2026-03-20' AS Date), CAST(N'2026-03-25' AS Date), CAST(N'2026-03-26' AS Date), 3, CAST(150000.00 AS Decimal(10, 2)), 2, CAST(N'2026-04-09T15:34:07.5433333' AS DateTime2), N'Партия автоматов АК-12')
INSERT [dbo].[Shipments] ([ShipmentID], [ShipmentNumber], [SupplierID], [ShipmentDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [StatusID], [TotalCost], [CreatedByUserID], [CreatedAt], [Comment]) VALUES (2, N'SHP-2024-002', 2, CAST(N'2026-03-30' AS Date), CAST(N'2026-04-04' AS Date), CAST(N'2026-04-05' AS Date), 3, CAST(85000.00 AS Decimal(10, 2)), 2, CAST(N'2026-04-09T15:34:07.5433333' AS DateTime2), N'Пистолеты Glock и M4A1')
INSERT [dbo].[Shipments] ([ShipmentID], [ShipmentNumber], [SupplierID], [ShipmentDate], [ExpectedDeliveryDate], [ActualDeliveryDate], [StatusID], [TotalCost], [CreatedByUserID], [CreatedAt], [Comment]) VALUES (3, N'SHP-2024-003', 3, CAST(N'2026-04-07' AS Date), CAST(N'2026-04-12' AS Date), NULL, 2, CAST(120000.00 AS Decimal(10, 2)), 7, CAST(N'2026-04-09T15:34:07.5433333' AS DateTime2), N'Снайперские винтовки')
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentStatuses] ON 

INSERT [dbo].[ShipmentStatuses] ([StatusID], [StatusName]) VALUES (2, N'В пути')
INSERT [dbo].[ShipmentStatuses] ([StatusID], [StatusName]) VALUES (3, N'Завершено')
INSERT [dbo].[ShipmentStatuses] ([StatusID], [StatusName]) VALUES (1, N'Ожидается')
SET IDENTITY_INSERT [dbo].[ShipmentStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [Name], [ContactPerson], [Phone], [Address], [Email], [IsActive]) VALUES (1, N'ЛазерТех', N'Игорь Васильев', N'74951234567', N'г. Москва, ул. Производственная, 15', N'sales@lasertech.ru', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [ContactPerson], [Phone], [Address], [Email], [IsActive]) VALUES (2, N'GameEquip', N'Алексей Смирнов', N'74952345678', N'г. Санкт-Петербург, пр. Энгельса, 120', N'info@gameequip.ru', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [ContactPerson], [Phone], [Address], [Email], [IsActive]) VALUES (3, N'АренаПро', N'Ольга Кузнецова', N'74953456789', N'г. Екатеринбург, ул. Малышева, 45', N'order@arenapro.ru', 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitID], [Name], [ShortName]) VALUES (1, N'Штука', N'шт.')
INSERT [dbo].[Units] ([UnitID], [Name], [ShortName]) VALUES (2, N'Комплект', N'компл.')
INSERT [dbo].[Units] ([UnitID], [Name], [ShortName]) VALUES (3, N'Пара', N'пар.')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [PasswordHash], [RegistrationDate], [Status], [Discount], [RoleID]) VALUES (1, N'Иванов', N'Александр', N'Петрович', N'79001234567', N'admin@lasertag.ru', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', CAST(N'2026-04-09T15:34:07.4833333' AS DateTime2), 1, 0, 1)
INSERT [dbo].[Users] ([UserID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [PasswordHash], [RegistrationDate], [Status], [Discount], [RoleID]) VALUES (2, N'Петров', N'Михаил', N'Сергеевич', N'79002345678', N'manager@lasertag.ru', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', CAST(N'2026-04-09T15:34:07.4833333' AS DateTime2), 1, 5, 3)
INSERT [dbo].[Users] ([UserID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [PasswordHash], [RegistrationDate], [Status], [Discount], [RoleID]) VALUES (3, N'Сидорова', N'Елена', N'Андреевна', N'79003456789', N'client1@mail.ru', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', CAST(N'2026-04-09T15:34:07.4833333' AS DateTime2), 1, 10, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Объект:  Index [IX_CartItems_UserID]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_CartItems_UserID] ON [dbo].[CartItems]
(
	[UserID] ASC,
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Categori__737584F609B1AA23]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Equipmen__CA1ECF0DE4E119CA]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Equipment] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Equipment_Category]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Equipment_Category] ON [dbo].[Equipment]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Equipment_Popularity]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Equipment_Popularity] ON [dbo].[Equipment]
(
	[Popularity] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Equipment_Price]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Equipment_Price] ON [dbo].[Equipment]
(
	[CurrentPrice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Equipment_SKU]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Equipment_SKU] ON [dbo].[Equipment]
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ_Favorites_User_Equipment]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Favorites] ADD  CONSTRAINT [UQ_Favorites_User_Equipment] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Feedbacks_Equipment]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Feedbacks_Equipment] ON [dbo].[Feedbacks]
(
	[EquipmentID] ASC
)
WHERE ([IsApproved]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Feedbacks_User]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Feedbacks_User] ON [dbo].[Feedbacks]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Manufact__737584F6352BB894]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Manufacturers] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_News_PublishedDate]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_News_PublishedDate] ON [dbo].[News]
(
	[PublishedDate] DESC
)
WHERE ([IsArchived]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Notifications_UserID]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Notifications_UserID] ON [dbo].[Notifications]
(
	[UserID] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_OrderItems_Equipment]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_OrderItems_Equipment] ON [dbo].[OrderItems]
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_OrderItems_Order]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_OrderItems_Order] ON [dbo].[OrderItems]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Orders__CAC5E743FAC2DFE5]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Orders_Date]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Orders_Date] ON [dbo].[Orders]
(
	[OrderDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Orders_Number]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Orders_Number] ON [dbo].[Orders]
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Orders_Status]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Orders_User]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Orders_User] ON [dbo].[Orders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__OrderSta__05E7698A309BB9E5]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[OrderStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_PriceHistory_Date]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_PriceHistory_Date] ON [dbo].[PriceHistory]
(
	[ChangeDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_PriceHistory_Equipment]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_PriceHistory_Equipment] ON [dbo].[PriceHistory]
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Promotio__32DBED3599DCFF26]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Promotions] ADD UNIQUE NONCLUSTERED 
(
	[PromoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Promotions_Active]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Promotions_Active] ON [dbo].[Promotions]
(
	[StartDate] ASC,
	[EndDate] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Roles__8A2B616004104226]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Shipment__E9244DF521A88F01]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Shipments] ADD UNIQUE NONCLUSTERED 
(
	[ShipmentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Shipment__05E7698A13BE1C5F]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[ShipmentStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Units__737584F68D4EF06C]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Units] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__5C7E359E06B7D59E]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__A9D1053402457783]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Users_Email]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Users_Phone]    Дата создания скрипта: 17.06.2026 19:02:40 ******/ 
CREATE NONCLUSTERED INDEX [IX_Users_Phone] ON [dbo].[Users]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [DF_CartItems_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [DF_CartItems_AddedAt]  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[ContactRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContactRequests] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ('no-image.png') FOR [ImagePath]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((0)) FOR [Popularity]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [PublishedDate]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [ViewsCount]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PriceHistory] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [ShipmentDate]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Equipment]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Users]
GO
ALTER TABLE [dbo].[ContactRequests]  WITH CHECK ADD  CONSTRAINT [FK_ContactRequests_ClosedBy] FOREIGN KEY([ClosedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ContactRequests] CHECK CONSTRAINT [FK_ContactRequests_ClosedBy]
GO
ALTER TABLE [dbo].[ContactRequests]  WITH CHECK ADD  CONSTRAINT [FK_ContactRequests_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ContactRequests] CHECK CONSTRAINT [FK_ContactRequests_Users]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Categories]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Manufacturers] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Manufacturers]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Suppliers]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([UnitID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Units]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Equipment]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_ApprovedBy] FOREIGN KEY([ApprovedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_ApprovedBy]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Equipment]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Orders]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Users] FOREIGN KEY([AuthorUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Equipment]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[OrderStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[PriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Equipment]
GO
ALTER TABLE [dbo].[PriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Users] FOREIGN KEY([ChangedByUserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Users]
GO
ALTER TABLE [dbo].[ShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentItems_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[ShipmentItems] CHECK CONSTRAINT [FK_ShipmentItems_Equipment]
GO
ALTER TABLE [dbo].[ShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentItems_Shipments] FOREIGN KEY([ShipmentID])
REFERENCES [dbo].[Shipments] ([ShipmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipmentItems] CHECK CONSTRAINT [FK_ShipmentItems_Shipments]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ShipmentStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Statuses]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Suppliers]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [CHK_Discount_Range] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [CHK_Discount_Range]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [CHK_Price_Positive] CHECK  (([CurrentPrice]>=(0)))
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [CHK_Price_Positive]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [CHK_Stock_NonNegative] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [CHK_Stock_NonNegative]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CHK_OrderItem_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CHK_OrderItem_Quantity_Positive]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CHK_Participants_Positive] CHECK  (([ParticipantsCount]>(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CHK_Participants_Positive]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CHK_Promo_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CHK_Promo_Dates]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CHK_Promo_Discount] CHECK  (([DiscountPercent]>(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CHK_Promo_Discount]
GO
ALTER TABLE [dbo].[ShipmentItems]  WITH CHECK ADD  CONSTRAINT [CHK_ShipmentItem_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ShipmentItems] CHECK CONSTRAINT [CHK_ShipmentItem_Quantity_Positive]
GO
USE [master]
GO
